<% layout('../layout/boilerplate') -%>
<h1>Market</h1>

<div class="container">
    <% percentages.forEach(function(percentage){ %>
    <div class="card-body">
        <h5 class="card-title">Crypto</h5>
    </div>
</div>
<% }); %>
</div>