<% layout('../layout/boilerplate') -%>
<h1>HELLO WORLD!</h1>

<form action="/" method="POST">
    <label for="color">Eye Colors</label>
    <select name="color" id="color">
        <option value="Blauw">Blauw</option>
        <option value="Bruin">Blauw</option>
        <option value="Groen">Blauw</option>
    </select>
    <input type="submit">
</form>