<!DOCTYPE html>
<html>

<head>
  <title>f-programming</title>
  <link rel="stylesheet" href="css/default.css">
</head>

<body>
  <section>
    <%- body -%>
  </section>

  <script src="/index.js"></script>
</body>

</html>